.app.dark {
  --bg-color: #363535;
  --inverted-bg-color: #ffffff;

  --primary-color: #e0dff0;
  --secondary-color: #04ff04;

  --inverted-primary-color: #0c142e;
  --inverted-secondary-color: #13357e;
}
